
.home-nav {
    height: 100vh;
    background-image: linear-gradient(to right, rgb(52, 255, 29) , rgb(7, 36, 222));
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.clear-view {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.clear-view:nth-child(1):hover {
    background-image: linear-gradient(to right, rgba(200, 36, 229, 0.612) , yellow);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    color: white;
}

.clear-view:nth-child(2):hover {
    background-image: linear-gradient(to top, rgba(187, 120, 79, 0.612) , yellow);
    font-size: 16px;
    color: white;
}

.clear-view:nth-child(3):hover {
    background-image: linear-gradient(to left, rgba(187, 120, 79, 0.612) , yellow);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    color: white;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 2px;
}


.todo-template {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    min-height: 1rem;
    overflow: hidden;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 15px;
    
}

.todo-template>div:nth-child(1){
    margin-top: 0.5rem;
    font-size: 24px;
    color: rgb(9, 82, 9);
}

.todo-template>div:nth-child(2){
    margin-top: 0.5rem;
    font-size: 16px;
    font-style: italic;
    color: rgb(246, 172, 33);
}

.todo-template>div:nth-child(3){
    margin-top: 0.5rem;
    font-size: 12px;
    inline-size: 100%;
    
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ea";

    overflow-wrap: break-word;
}

.todo-template>div:nth-child(4){
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.todo-template>div:nth-child(4)>.del{
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.save-btn {
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 1em;
}

.list-btn {
    float: right;
    margin-top: 1rem;
}

.add-btn {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.back-btn {
    margin-top: 2rem;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.notice-res {
    inline-size: 100%;
    overflow-wrap: break-word;
    text-align: center;
    font-weight: 200;
    margin-top: 2rem;
}

body {
    background-color: rgb(245, 234, 234);
}

pre {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form {
    padding: 3rem 15rem 10rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 12px;
    width: 100%;
    border: none;
}

textarea {
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 12px;
    width: 100%;
    height: 80px;
    border: none;
}
button {
    margin-top: 12px;
    margin-left: auto;
    float: left;
}

i > span {
    font-size: 16px;
}

textarea:focus, input:focus{
    outline: none;
}

@media only screen and (max-width: 1000px) {

    .home-nav {
        flex-direction: column;
    }
    
.clear-view:nth-child(1):hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-bottom-left-radius: 0px;
}


.clear-view:nth-child(3):hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  }

@media only screen and (max-width: 800px) {
    form {
        padding: 3rem 10rem 7rem 10rem;
    }
  }

  
@media only screen and (max-width: 500px) {
    form {
        padding: 2rem 5rem 2rem 5rem;
    }
  }