{{page-title "HandleSubmit"}}
<GeneralContainer>

    <pre>NOTICE</pre>
    <p  class="back-btn" onClick={window.history.back(-1)} >
        <i class="fa-solid fa-angle-left" type="button">
            Back
        </i>
    </p>
    <p class="notice-res">
        Task has been Succesfully Added
    </p>
    <LinkTo 
            @route="todoList" 
            class="btn btn-info list-btn">
        Go to List
    </LinkTo>

</GeneralContainer>
{{outlet}}