{{page-title "Index"}}
<GeneralContainer>
    <div class ="home-nav">
        <LinkTo @route="todoForm" class="clear-view">Fill up your To Do</LinkTo>
        <LinkTo @route="todoList" class="clear-view">View your Todo List</LinkTo>
        <LinkTo @route="Apis" class="clear-view" >Api's</LinkTo>
    </div>
</GeneralContainer>
{{outlet}}